{% extends "portpontrieuxBundle::layout.html.twig" %}
{% block PortPontrieux_body %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{asset('images/port1.jpg')}}" alt="Image1 du port de Pontrieux">
                <div class="carousel-caption">
                    <h2>Port de Pontrieux</h2><p>Situé dans le site exceptionnel de la vallée du Trieux.</p>
                </div>
            </div>
            <div class="item">
                <img src="{{asset('images/port2.jpg') }}" alt="Image2 du port de Pontrieux">
                <div class="carousel-caption">
                    <h2>Port de Pontrieux</h2>
                    <p>Développer les activités fluviales et touristiques.</p>
                </div>
            </div>
            <div class="item">
                <img src="{{asset('images/port3.jpg') }}" alt="Image3 du port de Pontrieux">
                <div class="carousel-caption">
                    <h2>Port de Pontrieux</h2>
                    <p>Assurer un accueil de qualité.</p>
                </div>
            </div>
            <div class="item">
                <img src="{{asset('images/port4.jpg') }}" alt="Image4 du port de Pontrieux">
                <div class="carousel-caption">
                    <h2>Port de Pontrieux</h2><p>Garantir la préservation de l’environnement.</p>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span></a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span></a>
    </div>
    <script>
        $(function() {
            $('#menu1').attr('class', 'active');
        });
    </script>
{% endblock %}
